@model TreningListViewModel

<h2 style="padding-top:70px;">Treninzi</h2>
<hr />

@if (TempData["CategoryDeleted"] != null)
{
    <p class="text-success">@TempData["CategoryDeleted"]</p>
}

@if (!Model.Treninzi.Any())
{
    <p>No results</p>
}
else
{
    <table class="table table-condensed table-bordered">
        <tr>
            <th>ID</th>
            <th>Naziv</th>
            <th>Info</th>
        </tr>
        @foreach (var trening in Model.Treninzi)
        {

            <tr>
                <td>@trening.Id</td>
                <td>@trening.Name</td>
                <td>
                    <a asp-action="Details" asp-route-id="@trening.Id">Detaljnije</a>
                    <a asp-action="Edit" asp-route-id="@trening.Id">Izmeni</a>
                    <a asp-action="Delete" asp-route-id="@trening.Id">Obriši</a>
                </td>
            </tr>
        }
    </table>
}
<p>
    <a class="btn btn-primary" asp-action="Add">Dodaj trening</a>
</p>

