@model VezbaEditViewModel

<h2 style="padding-top:70px;">Izmeni vežbu @Model.Vezba.VezbaName</h2>
<hr />

<form method="post" asp-controller="Vezba" asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="@Model.Vezba.VezbaId" />

    <div class="mb-3">
        <label asp-for="@Model.Vezba.VezbaName" class="form-label"></label>
        <input asp-for="@Model.Vezba.VezbaName" class="form-control" />
        <span asp-validation-for="@Model.Vezba.VezbaName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Vezba.VezbaDescription" class="form-label"></label>
        <textarea asp-for="Vezba.VezbaDescription" class="form-control" rows="5" cols="50" style="resize: none;"></textarea>
        <span asp-validation-for="Vezba.VezbaDescription" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Vezba.Rekviziti" class="form-label"></label>
        <textarea asp-for="Vezba.Rekviziti" class="form-control" rows="5" cols="50" style="resize: none;"></textarea>
        <span asp-validation-for="Vezba.Rekviziti" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Treninzi" class="form-label"></label>
        <select asp-for="Vezba.TreningId" asp-items="Model.Treninzi"></select>
        <span asp-validation-for="Treninzi" class="text-danger"></span>
    </div>

    <input type="submit" value="Izmeni Vezba" class="btn btn-primary" />
</form>

<div>
    <a asp-controller="Vezba" asp-action="Index">Nazad</a>
</div>

