@using BethanysPieShopAdmin.Utilities;
@model PaginatedList<Vezba>

<h2>Vežbe</h2>
<hr />

@if (!Model.Any())
{
    <p>No results</p>
}
else
{
    <table class="table table-condensed table-bordered">
        <tr>
            <th>
                <a asp-action="IndexPagingSorting" asp-route-sortBy="@ViewData["IdSortParam"]">Id</a>
            </th>
            <th>
                <a asp-action="IndexPagingSorting" asp-route-sortBy="@ViewData["NameSortParam"]">Vežba</a>
            </th>
            <th>
                <a asp-action="IndexPagingSorting" asp-route-sortBy="@ViewData["PriceSortParam"]">Rekviziti</a>
            </th>
            <th>Actions</th>
        </tr>
        @foreach (var vezba in Model)
        {

            <tr>
                <td>@vezba.VezbaId</td>
                <td>@vezba.VezbaName</td>
                <td>@vezba.Rekviziti</td>
                <td>
                    <a asp-action="Details" asp-route-id="@vezba.VezbaId">Detalji</a>
                    <a asp-action="Edit" asp-route-id="@vezba.VezbaId">Izmeni</a>
                    <a asp-action="Delete" asp-route-id="@vezba.VezbaId">Izbriši</a>

                </td>
            </tr>
        }
    </table>


}
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="IndexPagingSorting"
   asp-route-sortBy="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="IndexPagingSorting"
   asp-route-sortBy="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    Next
</a>


<p>
    <a class="btn btn-primary" asp-action="Add">DOdaj vežbu</a>
</p>
